.navSize{
    width: 100%;
    background-color: #13262F;
}

.musify-logo{
    font-size: 40px;
    color: white;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    width: 40px;
    margin: 10px;
}
.navbar-nav > .active > a {
    color: white;
    background-color: chartreuse;    
  }
  .nav-item > a:hover {
    color: white;
  }